/* Default for computer */
body {
    margin: 10%;
    text-align: center;
}

.canvas {
    width: 120px;
    height: 120px;
    background-color: aliceblue;
    border: solid black;
    margin-bottom: -5px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

#currentplayer {
    padding-bottom: 15px;
}

button {
    width: 12rem;
    height: 4rem;
    border-radius: 7px;
    font-size: 1.4rem;
}

button:hover {
    cursor: pointer;
    background-color: black;
    color: whitesmoke;


}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    body {
        margin: 5%;
    }

    .canvas {
        width: 80px;
        height: 80px;
        margin-bottom: -3.5px;
    }

    button {
        width: 9rem;
        height: 2.7rem;
        border-radius: 7px;
        font-size: 1rem;
    }

    #currentplayer {
        padding-bottom: 10px;
    }
}

@media (max-width: 480px) {
    body {
        margin: 2%;
    }

    .canvas {
        width: 60px;
        height: 60px;
        margin-bottom: -2.5px;
    }

    button {
        width: 7rem;
        height: 2rem;
        border-radius: 7px;
        font-size: 0.8rem;
    }

    h1 {
        font-size: 1.5em;
    }
}

