/* Default for computer */
body {
    margin: 10%;
    text-align: center;
}
details  {
    font-size: 1.2rem;
   
}

.canvas {
    width: 120px;
    height: 120px;
    background-color: aliceblue;
    border: solid black;
    margin-bottom: -5px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

#currentplayer {
    padding-bottom: 15px;
}

button { 
    background-color: white;
    border: solid rgb(15, 15, 15);
    width: 200px;
    height: 50px;
    border-radius: 7px;
    font-size: 1rem;
    font-weight: bold;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


button:hover {
    background-color: black;
    color: white;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    body {
        margin: 5%;
    }

    .canvas {
        width: 80px;
        height: 80px;
        margin-bottom: -5px;
    }

    button {
        width: 180px;
        height: 40px;
    }

    #currentplayer {
        padding-bottom: 10px;
    }
}

@media (max-width: 480px) {
    body {
        margin: 2%;
    }

    .canvas {
        width: 60px;
        height: 60px;
        margin-bottom: -5px;
    }

    button {
        width: 170px;
        height: 30px;
    }

    h1 {
        font-size: 1.5em;
    }
}


