/* Default for computer */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body main {
    
    margin: 5%;
    text-align: center;
}

body{
    text-align: center;
}
details  summary, details p  {
    font-size: 1.2rem;
   
}

h2 {
    font-size: 1.7rem;
}

#autor {
    font-size: 0.7rem;
}

.canvas {
    width: 140px;
    height: 140px;
    background-color: aliceblue;
    border: solid black;
    margin-bottom: -5px;
}



table {
    margin-left: auto;
    margin-right: auto;
}

/* make the select bigger & easier to tap */
#aiLevel, #aiSide, #aiMode {
  font-size: 1.3rem;         /* text + control height */
  padding: 8px 14px;        /* inner space */
  min-height: 4rem;            /* explicit control height */
  min-width: 20%;         /* wider box */
  box-sizing: border-box;
  margin: 2%;
  /* optional: more consistent look across browsers */

  border: 1px solid #ccc;
  border-radius: 8px; 
}


#aiControls {
    font-size: 1.3rem;
    
}

.nowrap {
    white-space: nowrap; 
}
#aiSide {
    margin-top: 1rem;
}


#currentplayer {
    padding-bottom: 15px;
}

.menubutton {
    min-width: 40%;
    min-height: 50px;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    body main {
        margin: 3%;
    }

    .canvas {
        width: 90px;
        height: 90px;
        margin-bottom: -5px;
    }

    .menubutton {
        min-width: 30%;
        min-height: 40px;
    }

    #currentplayer {
        padding-bottom: 10px;
    }
}

@media (max-width: 480px) {
    body main{
        margin-top: 2%;
    }

    .canvas {
        width: 70px;
        height: 70px;
        margin-bottom: -5px;
    }

    .menubutton {
        min-width: 40%;
        min-height: 30px;
    }


}

/* ||| Footer Styles zusätzlich zu pico|||  */
.footerdiv{
    
    text-align: left;
    width: 100%;
    background-color: rgb(26, 26, 26);
    color: whitesmoke;
}

.footerdiv footer section p, .footerdiv footer section h2{
    color: whitesmoke;
    padding-left: 10%;
}


