/* Default for computer */
body {
    margin: 5%;
    text-align: center;
}
details  {
    font-size: 1.2rem;
   
}

#autor {
    font-size: 0.7rem;
}

.canvas {
    width: 140px;
    height: 140px;
    background-color: aliceblue;
    border: solid black;
    margin-bottom: -5px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

/* make the select bigger & easier to tap */
#aiLevel, #aiSide {
  font-size: 16px;          /* text + control height */
  padding: 8px 14px;        /* inner space */
  height: 42px;             /* explicit control height */
  min-width: 100px;         /* wider box */
  box-sizing: border-box;

  /* optional: more consistent look across browsers */

  border: 1px solid #ccc;
  border-radius: 8px; 
}

.nowrap {
    white-space: nowrap; 
}
#aiSide {
    margin-top: 1rem;
}


#currentplayer {
    padding-bottom: 15px;
}

button { 
    background-color: white;
    border: solid rgb(15, 15, 15);
    width: 200px;
    height: 50px;
    border-radius: 7px;
    font-size: 1rem;
    font-weight: bold;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


button:enabled:hover {
    background-color: black;
    color: white;
}



button:disabled {
    cursor: not-allowed;
    background-color: rgb(94, 93, 93);
    color: white;
}




/* Media queries for responsiveness */
@media (max-width: 768px) {
    body {
        margin: 5%;
    }

    .canvas {
        width: 90px;
        height: 90px;
        margin-bottom: -5px;
    }

    button {
        width: 180px;
        height: 40px;
    }

    #currentplayer {
        padding-bottom: 10px;
    }
}

@media (max-width: 480px) {
    body {
        margin: 2%;
    }

    .canvas {
        width: 70px;
        height: 70px;
        margin-bottom: -5px;
    }

    button {
        width: 170px;
        height: 30px;
    }

    h1 {
        font-size: 1.5em;
    }
}


